@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Inter, "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
}
